/*----------  size ----------*/
/*---------- start margin ----------*/
.m-0,.ch-m-0 > *,.gch-m-0 > * > *{margin:var(--size0)!important;}
.mt-0,.ch-mt-0 > *,.gch-mt-0 > * > *{margin-top:var(--size0)!important;}
.mr-0,.ch-mr-0 > *,.gch-mr-0 > * > *{margin-right:var(--size0)!important;}
.mb-0,.ch-mb-0 > *,.gch-mb-0 > * > *{margin-bottom:var(--size0)!important;}
.ml-0,.ch-ml-0 > *,.gch-ml-0 > * > *{margin-left:var(--size0)!important;}
.my-0,.ch-my-0 > *,.gch-my-0 > * > *{margin-block:var(--size0)!important;}
.mx-0,.ch-mx-0 > *,.gch-mx-0 > * > *{margin-inline:var(--size0)!important;}
.ms-0,.ch-ms-0 > *,.gch-ms-0 > * > *{margin-inline-start:var(--size0)!important;}
.me-0,.ch-me-0 > *,.gch-me-0 > * > *{margin-inline-end:var(--size0)!important;}
.m-1,.ch-m-1 > *,.gch-m-1 > * > *{margin:var(--size1)!important;}
.mt-1,.ch-mt-1 > *,.gch-mt-1 > * > *{margin-top:var(--size1)!important;}
.mr-1,.ch-mr-1 > *,.gch-mr-1 > * > *{margin-right:var(--size1)!important;}
.mb-1,.ch-mb-1 > *,.gch-mb-1 > * > *{margin-bottom:var(--size1)!important;}
.ml-1,.ch-ml-1 > *,.gch-ml-1 > * > *{margin-left:var(--size1)!important;}
.my-1,.ch-my-1 > *,.gch-my-1 > * > *{margin-block:var(--size1)!important;}
.mx-1,.ch-mx-1 > *,.gch-mx-1 > * > *{margin-inline:var(--size1)!important;}
.ms-1,.ch-ms-1 > *,.gch-ms-1 > * > *{margin-inline-start:var(--size1)!important;}
.me-1,.ch-me-1 > *,.gch-me-1 > * > *{margin-inline-end:var(--size1)!important;}
.m-2,.ch-m-2 > *,.gch-m-2 > * > *{margin:var(--size2)!important;}
.mt-2,.ch-mt-2 > *,.gch-mt-2 > * > *{margin-top:var(--size2)!important;}
.mr-2,.ch-mr-2 > *,.gch-mr-2 > * > *{margin-right:var(--size2)!important;}
.mb-2,.ch-mb-2 > *,.gch-mb-2 > * > *{margin-bottom:var(--size2)!important;}
.ml-2,.ch-ml-2 > *,.gch-ml-2 > * > *{margin-left:var(--size2)!important;}
.my-2,.ch-my-2 > *,.gch-my-2 > * > *{margin-block:var(--size2)!important;}
.mx-2,.ch-mx-2 > *,.gch-mx-2 > * > *{margin-inline:var(--size2)!important;}
.ms-2,.ch-ms-2 > *,.gch-ms-2 > * > *{margin-inline-start:var(--size2)!important;}
.me-2,.ch-me-2 > *,.gch-me-2 > * > *{margin-inline-end:var(--size2)!important;}
.m-3,.ch-m-3 > *,.gch-m-3 > * > *{margin:var(--size3)!important;}
.mt-3,.ch-mt-3 > *,.gch-mt-3 > * > *{margin-top:var(--size3)!important;}
.mr-3,.ch-mr-3 > *,.gch-mr-3 > * > *{margin-right:var(--size3)!important;}
.mb-3,.ch-mb-3 > *,.gch-mb-3 > * > *{margin-bottom:var(--size3)!important;}
.ml-3,.ch-ml-3 > *,.gch-ml-3 > * > *{margin-left:var(--size3)!important;}
.my-3,.ch-my-3 > *,.gch-my-3 > * > *{margin-block:var(--size3)!important;}
.mx-3,.ch-mx-3 > *,.gch-mx-3 > * > *{margin-inline:var(--size3)!important;}
.ms-3,.ch-ms-3 > *,.gch-ms-3 > * > *{margin-inline-start:var(--size3)!important;}
.me-3,.ch-me-3 > *,.gch-me-3 > * > *{margin-inline-end:var(--size3)!important;}
.m-4,.ch-m-4 > *,.gch-m-4 > * > *{margin:var(--size4)!important;}
.mt-4,.ch-mt-4 > *,.gch-mt-4 > * > *{margin-top:var(--size4)!important;}
.mr-4,.ch-mr-4 > *,.gch-mr-4 > * > *{margin-right:var(--size4)!important;}
.mb-4,.ch-mb-4 > *,.gch-mb-4 > * > *{margin-bottom:var(--size4)!important;}
.ml-4,.ch-ml-4 > *,.gch-ml-4 > * > *{margin-left:var(--size4)!important;}
.my-4,.ch-my-4 > *,.gch-my-4 > * > *{margin-block:var(--size4)!important;}
.mx-4,.ch-mx-4 > *,.gch-mx-4 > * > *{margin-inline:var(--size4)!important;}
.ms-4,.ch-ms-4 > *,.gch-ms-4 > * > *{margin-inline-start:var(--size4)!important;}
.me-4,.ch-me-4 > *,.gch-me-4 > * > *{margin-inline-end:var(--size4)!important;}
.m-5,.ch-m-5 > *,.gch-m-5 > * > *{margin:var(--size5)!important;}
.mt-5,.ch-mt-5 > *,.gch-mt-5 > * > *{margin-top:var(--size5)!important;}
.mr-5,.ch-mr-5 > *,.gch-mr-5 > * > *{margin-right:var(--size5)!important;}
.mb-5,.ch-mb-5 > *,.gch-mb-5 > * > *{margin-bottom:var(--size5)!important;}
.ml-5,.ch-ml-5 > *,.gch-ml-5 > * > *{margin-left:var(--size5)!important;}
.my-5,.ch-my-5 > *,.gch-my-5 > * > *{margin-block:var(--size5)!important;}
.mx-5,.ch-mx-5 > *,.gch-mx-5 > * > *{margin-inline:var(--size5)!important;}
.ms-5,.ch-ms-5 > *,.gch-ms-5 > * > *{margin-inline-start:var(--size5)!important;}
.me-5,.ch-me-5 > *,.gch-me-5 > * > *{margin-inline-end:var(--size5)!important;}
.m-6,.ch-m-6 > *,.gch-m-6 > * > *{margin:var(--size6)!important;}
.mt-6,.ch-mt-6 > *,.gch-mt-6 > * > *{margin-top:var(--size6)!important;}
.mr-6,.ch-mr-6 > *,.gch-mr-6 > * > *{margin-right:var(--size6)!important;}
.mb-6,.ch-mb-6 > *,.gch-mb-6 > * > *{margin-bottom:var(--size6)!important;}
.ml-6,.ch-ml-6 > *,.gch-ml-6 > * > *{margin-left:var(--size6)!important;}
.my-6,.ch-my-6 > *,.gch-my-6 > * > *{margin-block:var(--size6)!important;}
.mx-6,.ch-mx-6 > *,.gch-mx-6 > * > *{margin-inline:var(--size6)!important;}
.ms-6,.ch-ms-6 > *,.gch-ms-6 > * > *{margin-inline-start:var(--size6)!important;}
.me-6,.ch-me-6 > *,.gch-me-6 > * > *{margin-inline-end:var(--size6)!important;}
.m-7,.ch-m-7 > *,.gch-m-7 > * > *{margin:var(--size7)!important;}
.mt-7,.ch-mt-7 > *,.gch-mt-7 > * > *{margin-top:var(--size7)!important;}
.mr-7,.ch-mr-7 > *,.gch-mr-7 > * > *{margin-right:var(--size7)!important;}
.mb-7,.ch-mb-7 > *,.gch-mb-7 > * > *{margin-bottom:var(--size7)!important;}
.ml-7,.ch-ml-7 > *,.gch-ml-7 > * > *{margin-left:var(--size7)!important;}
.my-7,.ch-my-7 > *,.gch-my-7 > * > *{margin-block:var(--size7)!important;}
.mx-7,.ch-mx-7 > *,.gch-mx-7 > * > *{margin-inline:var(--size7)!important;}
.ms-7,.ch-ms-7 > *,.gch-ms-7 > * > *{margin-inline-start:var(--size7)!important;}
.me-7,.ch-me-7 > *,.gch-me-7 > * > *{margin-inline-end:var(--size7)!important;}
.m-8,.ch-m-8 > *,.gch-m-8 > * > *{margin:var(--size8)!important;}
.mt-8,.ch-mt-8 > *,.gch-mt-8 > * > *{margin-top:var(--size8)!important;}
.mr-8,.ch-mr-8 > *,.gch-mr-8 > * > *{margin-right:var(--size8)!important;}
.mb-8,.ch-mb-8 > *,.gch-mb-8 > * > *{margin-bottom:var(--size8)!important;}
.ml-8,.ch-ml-8 > *,.gch-ml-8 > * > *{margin-left:var(--size8)!important;}
.my-8,.ch-my-8 > *,.gch-my-8 > * > *{margin-block:var(--size8)!important;}
.mx-8,.ch-mx-8 > *,.gch-mx-8 > * > *{margin-inline:var(--size8)!important;}
.ms-8,.ch-ms-8 > *,.gch-ms-8 > * > *{margin-inline-start:var(--size8)!important;}
.me-8,.ch-me-8 > *,.gch-me-8 > * > *{margin-inline-end:var(--size8)!important;}
.m-9,.ch-m-9 > *,.gch-m-9 > * > *{margin:var(--size9)!important;}
.mt-9,.ch-mt-9 > *,.gch-mt-9 > * > *{margin-top:var(--size9)!important;}
.mr-9,.ch-mr-9 > *,.gch-mr-9 > * > *{margin-right:var(--size9)!important;}
.mb-9,.ch-mb-9 > *,.gch-mb-9 > * > *{margin-bottom:var(--size9)!important;}
.ml-9,.ch-ml-9 > *,.gch-ml-9 > * > *{margin-left:var(--size9)!important;}
.my-9,.ch-my-9 > *,.gch-my-9 > * > *{margin-block:var(--size9)!important;}
.mx-9,.ch-mx-9 > *,.gch-mx-9 > * > *{margin-inline:var(--size9)!important;}
.ms-9,.ch-ms-9 > *,.gch-ms-9 > * > *{margin-inline-start:var(--size9)!important;}
.me-9,.ch-me-9 > *,.gch-me-9 > * > *{margin-inline-end:var(--size9)!important;}
.m-10,.ch-m-10 > *,.gch-m-10 > * > *{margin:var(--size10)!important;}
.mt-10,.ch-mt-10 > *,.gch-mt-10 > * > *{margin-top:var(--size10)!important;}
.mr-10,.ch-mr-10 > *,.gch-mr-10 > * > *{margin-right:var(--size10)!important;}
.mb-10,.ch-mb-10 > *,.gch-mb-10 > * > *{margin-bottom:var(--size10)!important;}
.ml-10,.ch-ml-10 > *,.gch-ml-10 > * > *{margin-left:var(--size10)!important;}
.my-10,.ch-my-10 > *,.gch-my-10 > * > *{margin-block:var(--size10)!important;}
.mx-10,.ch-mx-10 > *,.gch-mx-10 > * > *{margin-inline:var(--size10)!important;}
.ms-10,.ch-ms-10 > *,.gch-ms-10 > * > *{margin-inline-start:var(--size10)!important;}
.me-10,.ch-me-10 > *,.gch-me-10 > * > *{margin-inline-end:var(--size10)!important;}
.m-11,.ch-m-11 > *,.gch-m-11 > * > *{margin:var(--size11)!important;}
.mt-11,.ch-mt-11 > *,.gch-mt-11 > * > *{margin-top:var(--size11)!important;}
.mr-11,.ch-mr-11 > *,.gch-mr-11 > * > *{margin-right:var(--size11)!important;}
.mb-11,.ch-mb-11 > *,.gch-mb-11 > * > *{margin-bottom:var(--size11)!important;}
.ml-11,.ch-ml-11 > *,.gch-ml-11 > * > *{margin-left:var(--size11)!important;}
.my-11,.ch-my-11 > *,.gch-my-11 > * > *{margin-block:var(--size11)!important;}
.mx-11,.ch-mx-11 > *,.gch-mx-11 > * > *{margin-inline:var(--size11)!important;}
.ms-11,.ch-ms-11 > *,.gch-ms-11 > * > *{margin-inline-start:var(--size11)!important;}
.me-11,.ch-me-11 > *,.gch-me-11 > * > *{margin-inline-end:var(--size11)!important;}
.m-12,.ch-m-12 > *,.gch-m-12 > * > *{margin:var(--size12)!important;}
.mt-12,.ch-mt-12 > *,.gch-mt-12 > * > *{margin-top:var(--size12)!important;}
.mr-12,.ch-mr-12 > *,.gch-mr-12 > * > *{margin-right:var(--size12)!important;}
.mb-12,.ch-mb-12 > *,.gch-mb-12 > * > *{margin-bottom:var(--size12)!important;}
.ml-12,.ch-ml-12 > *,.gch-ml-12 > * > *{margin-left:var(--size12)!important;}
.my-12,.ch-my-12 > *,.gch-my-12 > * > *{margin-block:var(--size12)!important;}
.mx-12,.ch-mx-12 > *,.gch-mx-12 > * > *{margin-inline:var(--size12)!important;}
.ms-12,.ch-ms-12 > *,.gch-ms-12 > * > *{margin-inline-start:var(--size12)!important;}
.me-12,.ch-me-12 > *,.gch-me-12 > * > *{margin-inline-end:var(--size12)!important;}
/*---------- end margin ----------*/

/*---------- start padding ----------*/
.p-0,.ch-p-0 > *,.gch-p-0 > * > *{padding:var(--size0)!important;}
.pt-0,.ch-pt-0 > *,.gch-pt-0 > * > *{padding-top:var(--size0)!important;}
.pr-0,.ch-pr-0 > *,.gch-pr-0 > * > *{padding-right:var(--size0)!important;}
.pb-0,.ch-pb-0 > *,.gch-pb-0 > * > *{padding-bottom:var(--size0)!important;}
.pl-0,.ch-pl-0 > *,.gch-pl-0 > * > *{padding-left:var(--size0)!important;}
.py-0,.ch-py-0 > *,.gch-py-0 > * > *{padding-block:var(--size0)!important;}
.px-0,.ch-px-0 > *,.gch-px-0 > * > *{padding-inline:var(--size0)!important;}
.ps-0,.ch-ps-0 > *,.gch-ps-0 > * > *{padding-inline-start:var(--size0)!important;}
.pe-0,.ch-pe-0 > *,.gch-pe-0 > * > *{padding-inline-end:var(--size0)!important;}
.p-1,.ch-p-1 > *,.gch-p-1 > * > *{padding:var(--size1)!important;}
.pt-1,.ch-pt-1 > *,.gch-pt-1 > * > *{padding-top:var(--size1)!important;}
.pr-1,.ch-pr-1 > *,.gch-pr-1 > * > *{padding-right:var(--size1)!important;}
.pb-1,.ch-pb-1 > *,.gch-pb-1 > * > *{padding-bottom:var(--size1)!important;}
.pl-1,.ch-pl-1 > *,.gch-pl-1 > * > *{padding-left:var(--size1)!important;}
.py-1,.ch-py-1 > *,.gch-py-1 > * > *{padding-block:var(--size1)!important;}
.px-1,.ch-px-1 > *,.gch-px-1 > * > *{padding-inline:var(--size1)!important;}
.ps-1,.ch-ps-1 > *,.gch-ps-1 > * > *{padding-inline-start:var(--size1)!important;}
.pe-1,.ch-pe-1 > *,.gch-pe-1 > * > *{padding-inline-end:var(--size1)!important;}
.p-2,.ch-p-2 > *,.gch-p-2 > * > *{padding:var(--size2)!important;}
.pt-2,.ch-pt-2 > *,.gch-pt-2 > * > *{padding-top:var(--size2)!important;}
.pr-2,.ch-pr-2 > *,.gch-pr-2 > * > *{padding-right:var(--size2)!important;}
.pb-2,.ch-pb-2 > *,.gch-pb-2 > * > *{padding-bottom:var(--size2)!important;}
.pl-2,.ch-pl-2 > *,.gch-pl-2 > * > *{padding-left:var(--size2)!important;}
.py-2,.ch-py-2 > *,.gch-py-2 > * > *{padding-block:var(--size2)!important;}
.px-2,.ch-px-2 > *,.gch-px-2 > * > *{padding-inline:var(--size2)!important;}
.ps-2,.ch-ps-2 > *,.gch-ps-2 > * > *{padding-inline-start:var(--size2)!important;}
.pe-2,.ch-pe-2 > *,.gch-pe-2 > * > *{padding-inline-end:var(--size2)!important;}
.p-3,.ch-p-3 > *,.gch-p-3 > * > *{padding:var(--size3)!important;}
.pt-3,.ch-pt-3 > *,.gch-pt-3 > * > *{padding-top:var(--size3)!important;}
.pr-3,.ch-pr-3 > *,.gch-pr-3 > * > *{padding-right:var(--size3)!important;}
.pb-3,.ch-pb-3 > *,.gch-pb-3 > * > *{padding-bottom:var(--size3)!important;}
.pl-3,.ch-pl-3 > *,.gch-pl-3 > * > *{padding-left:var(--size3)!important;}
.py-3,.ch-py-3 > *,.gch-py-3 > * > *{padding-block:var(--size3)!important;}
.px-3,.ch-px-3 > *,.gch-px-3 > * > *{padding-inline:var(--size3)!important;}
.ps-3,.ch-ps-3 > *,.gch-ps-3 > * > *{padding-inline-start:var(--size3)!important;}
.pe-3,.ch-pe-3 > *,.gch-pe-3 > * > *{padding-inline-end:var(--size3)!important;}
.p-4,.ch-p-4 > *,.gch-p-4 > * > *{padding:var(--size4)!important;}
.pt-4,.ch-pt-4 > *,.gch-pt-4 > * > *{padding-top:var(--size4)!important;}
.pr-4,.ch-pr-4 > *,.gch-pr-4 > * > *{padding-right:var(--size4)!important;}
.pb-4,.ch-pb-4 > *,.gch-pb-4 > * > *{padding-bottom:var(--size4)!important;}
.pl-4,.ch-pl-4 > *,.gch-pl-4 > * > *{padding-left:var(--size4)!important;}
.py-4,.ch-py-4 > *,.gch-py-4 > * > *{padding-block:var(--size4)!important;}
.px-4,.ch-px-4 > *,.gch-px-4 > * > *{padding-inline:var(--size4)!important;}
.ps-4,.ch-ps-4 > *,.gch-ps-4 > * > *{padding-inline-start:var(--size4)!important;}
.pe-4,.ch-pe-4 > *,.gch-pe-4 > * > *{padding-inline-end:var(--size4)!important;}
.p-5,.ch-p-5 > *,.gch-p-5 > * > *{padding:var(--size5)!important;}
.pt-5,.ch-pt-5 > *,.gch-pt-5 > * > *{padding-top:var(--size5)!important;}
.pr-5,.ch-pr-5 > *,.gch-pr-5 > * > *{padding-right:var(--size5)!important;}
.pb-5,.ch-pb-5 > *,.gch-pb-5 > * > *{padding-bottom:var(--size5)!important;}
.pl-5,.ch-pl-5 > *,.gch-pl-5 > * > *{padding-left:var(--size5)!important;}
.py-5,.ch-py-5 > *,.gch-py-5 > * > *{padding-block:var(--size5)!important;}
.px-5,.ch-px-5 > *,.gch-px-5 > * > *{padding-inline:var(--size5)!important;}
.ps-5,.ch-ps-5 > *,.gch-ps-5 > * > *{padding-inline-start:var(--size5)!important;}
.pe-5,.ch-pe-5 > *,.gch-pe-5 > * > *{padding-inline-end:var(--size5)!important;}
.p-6,.ch-p-6 > *,.gch-p-6 > * > *{padding:var(--size6)!important;}
.pt-6,.ch-pt-6 > *,.gch-pt-6 > * > *{padding-top:var(--size6)!important;}
.pr-6,.ch-pr-6 > *,.gch-pr-6 > * > *{padding-right:var(--size6)!important;}
.pb-6,.ch-pb-6 > *,.gch-pb-6 > * > *{padding-bottom:var(--size6)!important;}
.pl-6,.ch-pl-6 > *,.gch-pl-6 > * > *{padding-left:var(--size6)!important;}
.py-6,.ch-py-6 > *,.gch-py-6 > * > *{padding-block:var(--size6)!important;}
.px-6,.ch-px-6 > *,.gch-px-6 > * > *{padding-inline:var(--size6)!important;}
.ps-6,.ch-ps-6 > *,.gch-ps-6 > * > *{padding-inline-start:var(--size6)!important;}
.pe-6,.ch-pe-6 > *,.gch-pe-6 > * > *{padding-inline-end:var(--size6)!important;}
.p-7,.ch-p-7 > *,.gch-p-7 > * > *{padding:var(--size7)!important;}
.pt-7,.ch-pt-7 > *,.gch-pt-7 > * > *{padding-top:var(--size7)!important;}
.pr-7,.ch-pr-7 > *,.gch-pr-7 > * > *{padding-right:var(--size7)!important;}
.pb-7,.ch-pb-7 > *,.gch-pb-7 > * > *{padding-bottom:var(--size7)!important;}
.pl-7,.ch-pl-7 > *,.gch-pl-7 > * > *{padding-left:var(--size7)!important;}
.py-7,.ch-py-7 > *,.gch-py-7 > * > *{padding-block:var(--size7)!important;}
.px-7,.ch-px-7 > *,.gch-px-7 > * > *{padding-inline:var(--size7)!important;}
.ps-7,.ch-ps-7 > *,.gch-ps-7 > * > *{padding-inline-start:var(--size7)!important;}
.pe-7,.ch-pe-7 > *,.gch-pe-7 > * > *{padding-inline-end:var(--size7)!important;}
.p-8,.ch-p-8 > *,.gch-p-8 > * > *{padding:var(--size8)!important;}
.pt-8,.ch-pt-8 > *,.gch-pt-8 > * > *{padding-top:var(--size8)!important;}
.pr-8,.ch-pr-8 > *,.gch-pr-8 > * > *{padding-right:var(--size8)!important;}
.pb-8,.ch-pb-8 > *,.gch-pb-8 > * > *{padding-bottom:var(--size8)!important;}
.pl-8,.ch-pl-8 > *,.gch-pl-8 > * > *{padding-left:var(--size8)!important;}
.py-8,.ch-py-8 > *,.gch-py-8 > * > *{padding-block:var(--size8)!important;}
.px-8,.ch-px-8 > *,.gch-px-8 > * > *{padding-inline:var(--size8)!important;}
.ps-8,.ch-ps-8 > *,.gch-ps-8 > * > *{padding-inline-start:var(--size8)!important;}
.pe-8,.ch-pe-8 > *,.gch-pe-8 > * > *{padding-inline-end:var(--size8)!important;}
.p-9,.ch-p-9 > *,.gch-p-9 > * > *{padding:var(--size9)!important;}
.pt-9,.ch-pt-9 > *,.gch-pt-9 > * > *{padding-top:var(--size9)!important;}
.pr-9,.ch-pr-9 > *,.gch-pr-9 > * > *{padding-right:var(--size9)!important;}
.pb-9,.ch-pb-9 > *,.gch-pb-9 > * > *{padding-bottom:var(--size9)!important;}
.pl-9,.ch-pl-9 > *,.gch-pl-9 > * > *{padding-left:var(--size9)!important;}
.py-9,.ch-py-9 > *,.gch-py-9 > * > *{padding-block:var(--size9)!important;}
.px-9,.ch-px-9 > *,.gch-px-9 > * > *{padding-inline:var(--size9)!important;}
.ps-9,.ch-ps-9 > *,.gch-ps-9 > * > *{padding-inline-start:var(--size9)!important;}
.pe-9,.ch-pe-9 > *,.gch-pe-9 > * > *{padding-inline-end:var(--size9)!important;}
.p-10,.ch-p-10 > *,.gch-p-10 > * > *{padding:var(--size10)!important;}
.pt-10,.ch-pt-10 > *,.gch-pt-10 > * > *{padding-top:var(--size10)!important;}
.pr-10,.ch-pr-10 > *,.gch-pr-10 > * > *{padding-right:var(--size10)!important;}
.pb-10,.ch-pb-10 > *,.gch-pb-10 > * > *{padding-bottom:var(--size10)!important;}
.pl-10,.ch-pl-10 > *,.gch-pl-10 > * > *{padding-left:var(--size10)!important;}
.py-10,.ch-py-10 > *,.gch-py-10 > * > *{padding-block:var(--size10)!important;}
.px-10,.ch-px-10 > *,.gch-px-10 > * > *{padding-inline:var(--size10)!important;}
.ps-10,.ch-ps-10 > *,.gch-ps-10 > * > *{padding-inline-start:var(--size10)!important;}
.pe-10,.ch-pe-10 > *,.gch-pe-10 > * > *{padding-inline-end:var(--size10)!important;}
.p-11,.ch-p-11 > *,.gch-p-11 > * > *{padding:var(--size11)!important;}
.pt-11,.ch-pt-11 > *,.gch-pt-11 > * > *{padding-top:var(--size11)!important;}
.pr-11,.ch-pr-11 > *,.gch-pr-11 > * > *{padding-right:var(--size11)!important;}
.pb-11,.ch-pb-11 > *,.gch-pb-11 > * > *{padding-bottom:var(--size11)!important;}
.pl-11,.ch-pl-11 > *,.gch-pl-11 > * > *{padding-left:var(--size11)!important;}
.py-11,.ch-py-11 > *,.gch-py-11 > * > *{padding-block:var(--size11)!important;}
.px-11,.ch-px-11 > *,.gch-px-11 > * > *{padding-inline:var(--size11)!important;}
.ps-11,.ch-ps-11 > *,.gch-ps-11 > * > *{padding-inline-start:var(--size11)!important;}
.pe-11,.ch-pe-11 > *,.gch-pe-11 > * > *{padding-inline-end:var(--size11)!important;}
.p-12,.ch-p-12 > *,.gch-p-12 > * > *{padding:var(--size12)!important;}
.pt-12,.ch-pt-12 > *,.gch-pt-12 > * > *{padding-top:var(--size12)!important;}
.pr-12,.ch-pr-12 > *,.gch-pr-12 > * > *{padding-right:var(--size12)!important;}
.pb-12,.ch-pb-12 > *,.gch-pb-12 > * > *{padding-bottom:var(--size12)!important;}
.pl-12,.ch-pl-12 > *,.gch-pl-12 > * > *{padding-left:var(--size12)!important;}
.py-12,.ch-py-12 > *,.gch-py-12 > * > *{padding-block:var(--size12)!important;}
.px-12,.ch-px-12 > *,.gch-px-12 > * > *{padding-inline:var(--size12)!important;}
.ps-12,.ch-ps-12 > *,.gch-ps-12 > * > *{padding-inline-start:var(--size12)!important;}
.pe-12,.ch-pe-12 > *,.gch-pe-12 > * > *{padding-inline-end:var(--size12)!important;}
/*---------- end padding ----------*/

